body{
    background-color: rgb(245, 243, 243);
}
.container-inner{
    background-color: rgb(231, 229, 229);
    margin:50px 75px;
    padding:30px;
    box-shadow: 0 4px 6px 0 rgba(15, 71, 145, 0.2), 0 4px 4px 0 rgba(18, 72, 134, 0.19);
}
h5{
    margin: 0px;
    color: rgb(10, 91, 129);
    margin-bottom: 10px;
    font-family: 'Bebas Neue', cursive;
    font-size: 15px;
    color: rgb(77, 77, 77);
}
#stackName{
    width: 100%;
    padding: 7px 10px;
    margin: 10px 0;
    margin-top: 5px;
    box-sizing: 2px solid #e9eee3;
}
input[type=text] {
    width: 50%;
    padding: 7px 10px;
    margin-top: 5px;
    margin-bottom:15px;
    box-sizing:2px solid #e9eee3;
  }
label{
    font-family:'Bebas Neue', cursive;
    font-size: 15px;
    color: rgb(77, 77, 77);
    
}

h3{
    margin-top: 25px;
    color: rgb(10, 91, 129);
    margin-bottom: 25px;
    font-family: 'Bebas Neue', cursive;
}
.text-styling{
    
   
    font-family: 'Bebas Neue', cursive;
    font-size: 15px;
    color: rgb(77, 77, 77);
}
button{
    background-color: rgb(8, 93, 133);
    border: none;
    padding: 10px 25px;
    color: white;
    box-shadow: 0 4px 6px 0 rgba(23, 113, 148, 0.2), 0 4px 4px 0 rgba(48, 140, 202, 0.19);
}
.grid-container{
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 50px;
}
label{
    margin-bottom: 10px;
}